
body,html{
    margin:0
padding: 0 ;
font: 1em "open sans", sans-serif;

}


.menu{
    width: 100%;
    background-color: gray;
    color: white;
    height: 60px;

}
.menu #logo {

    float: left;
    height: 30px;
    padding: 15px 30px;
    font-size: 1.2em;
    line-height: 30px;

}
.menu > ul{
    margin: 0;
     padding: 0;  
     float: left;   
     list-style-type: none;
}
.menu > ul > li{

    float: left;

} 



//////////////////////
if(quiz ===3 ){
    alert("correct answer +_+")
score++;

}else {

 let quiz1=prompt( "+","+" Now tell me what is the largest animal in the world")  
 if  (quiz1==whale){
    alert("correct answer +_+")
    score++;
 } else{
     

let quiz2 =prompt("How many Continents are there")
if (quiz2 =="7"){
    alert("correct answer +_+")
    score++;
 } else{
    alert(" sorry its wrong answer :( ") 
}

 else {
    let confirmessage=confirm("ok -_-")
} }
}
document.write("your score is "+score)

}

body,html{
    margin:0
padding:0
font: 1em "open sans", sans-serif;

}


.menu{
    width: 100%;
    background-color: gray;
    color: white;
    height: 60px;
    

}
.menu #logo {

    float: left;
    height: 30px;
    padding: 15px 30px;
    font-size: 1.2em;
    line-height: 30px;
    width: 22%;
    font-weight: bold;

}
.menu > ul{
    margin: 0;
     padding: 0;  
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
     position: relative;
     list-style-type: none;
    

}
.menu > ul > li{

    float: left;
  display: flex;

} 
.menu-iteam{
    display: inline-block;
    padding-left: 15px 2px;
    line-height: 60px;
    text-decoration: none;
color: white;    
font-weight: bold;
}


للنهاية 

.menu{
    width: 100%;
    background-color: gray;
    color: white;
    height: 60px;
    

}
.menu #logo {
    display: flex;
     justify-content: center;
     align-items: center;
    height: 30px;
    font-weight: bold;
.menu{
    width: 100%;
    background-color: gray;
    color: white;
    height: 60px;
    

}
.menu #logo {
    display: flex;
     justify-content: center;
     align-items: center;
    height: 30px;
    font-weight: bold;
.menu{
    width: 100%;
    background-color: gray;
    color: white;
    height: 60px;
    

}
.menu #logo {
    display: flex;
     justify-content: center;
     align-items: center;
    height: 30px;
    font-weight: bold;



























